{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}AIDNS - CSE{% endblock %}

{% block page_content %}
<div class="page-header">

    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>


<ul class="nav nav-tabs">
    <li class="active"><a href="{{ url_for('main.post_cse') }}">CSE</a></li>
    <li><a href="{{ url_for('main.post_it') }}">IT</a></li>
    <li><a href="{{ url_for('main.post_ce') }}">CE</a></li>
    <li><a href="{{ url_for('main.post_me') }}">ME</a></li>
    <li><a href="{{ url_for('main.post_ee') }}">EE</a></li>
</ul>

<br>
<br>

<div class="container-fluid">
    <div class="panel panel-default panel-info">
        <div class="panel-heading text-center">COMPUTER SCIENCE BRANCH NOTICE PANNEL</div>
    </div>
</div>


{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post_cse') }}
</div>
{% endif %}
{% endblock %}
